// 
// Color overrides
// 

// This file is intentionally blank
// Use this file to override any color variables within the project

// You can also replace this file with a file exported from the customizer, 
// which you can access from the widget at https://themes.startbootstrap.com/sb-ui-kit-pro/

// * * * * * * * *
// * * Example * *
// * * * * * * * *

// Uncomment below and rebuild the SCSS to see color changes in effect

$primary: #0074D9;
$primaryHover: #1B98E0;
$secondary: #FFFFFF;
$navbarBackgorund: #0074D9;
$btnPrimary: #FFFFFF;
$btnPrimaryHover: #83c9f1;
$btnSecondary: #003366;
$btnSecondaryHover: #83c9f1;