// 
// Variable overrides
// 

// This file is intentionally blank

// Custom overrides for spacing
.pt-6 {
    padding-top: 4.5rem !important;
}
.pt-7 {
    padding-top: 6rem !important;
}
.pt-8 {
    padding-top: 7.5rem !important;
}
.pt-9 {
    padding-top: 9rem !important;
}
.pt-10 {
    padding-top: 10.5rem !important;
}
.pb-6 {
    padding-bottom: 4.5rem !important;
}
.pb-7 {
    padding-bottom: 6rem !important;
}
.pb-8 {
    padding-bottom: 7.5rem !important;
}
.pb-9 {
    padding-bottom: 9rem !important;
}
.pb-10 {
    padding-bottom: 10.5rem !important;
}
.mt-6 {
    margin-top: 4.5rem !important;
}
.mt-7 {
    margin-top: 6rem !important;
}
.mt-8 {
    margin-top: 7.5rem !important;
}
.mt-9 {
    margin-top: 9rem !important;
}
.mt-10 {
    margin-top: 10.5rem !important;
}
.mb-6 {
    margin-bottom: 4.5rem !important;
}
.mb-7 {
    margin-bottom: 6rem !important;
}
.mb-8 {
    margin-bottom: 7.5rem !important;
}
.mb-9 {
    margin-bottom: 9rem !important;
}
.mb-10 {
    margin-bottom: 10.5rem !important;
}

.fs-xl {
    font-size: x-large !important;
}

.fs-xxl {
    font-size: xx-large !important;
}

// Hover interactions
.zoom-hover {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.zoom-hover:hover {
    transform: scale(1.05);
}

.invert {
    filter: invert(1);
}