{{ with .Site.GetPage "footer/index.md" }}
<div id="layoutDefault_footer">
    <footer class="footer pt-5 pb-5 mt-auto bg-black footer-dark">
        <div class="container px-5">
            <hr class="my-5" />
            <div class="row gx-5 align-items-center">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="footer-brand">{{ .Site.Title }}</div>
                        <div class="mb-3">{{ .Site.Params.slogan }}</div>
                    </div>
                </div>
                <div class="col-md-6 small">Copyright &copy; {{ .Site.Title }} {{ dateFormat "2006" now }}</div>
                <div class="col-md-6 text-md-end small">
                    <a href="{{ "/privacy-policy/" | relLangURL }}">Privacy Policy</a>
                    &middot;
                    <a href="{{ "/terms/" | relLangURL }}">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{{ end }}