{{ $baseURL := .Site.BaseURL }}
{{- partial "head_meta.html" . -}}
<!-- Core theme CSS (includes Bootstrap) -->
{{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "sass/main.scss" | toCSS $options | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">
{{ with .Site.GetPage "settings" }}
{{ $dir := replace .File.Dir "\\" "/" }}
{{ $imagePath := printf "%s%s%s" $baseURL $dir (replace (.Param "favicon") "\\" "/") | safeURL }}
<link rel='shortcut icon' type='image/x-icon' href='{{ $imagePath }}' />
{{ end }}