{{ $baseURL := .Site.BaseURL }}

{{ if .Params.noindex }}
  <meta name="robots" content="noindex, nofollow">
{{ end }}

<title>
  {{ with .Params.seo.meta_title }}
    {{ . | safeHTML }}
  {{ else }}
    {{ .Params.title }}
  {{ end }}
</title>

<meta charset="utf-8" />

{{ with .Params.seo.meta_description }}
  <meta name="description" content='{{ . | safeHTML }}'/>
{{ end }}

<meta name="dc.relation" content="{{ $baseURL }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

{{ with .Params.seo.meta_author }}
  <meta name="author" content='{{ . }}'/>
{{ end }}

<meta property="og:title" content="{{ with .Params.seo.meta_title }}{{ . | safeHTML }}{{ else }}{{ .Params.title }}{{ end }}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="{{ $baseURL }}assets/img/header_logo.webp"/>
<meta property="og:url" content="{{ .Permalink }}"/>

{{ with .Params.seo.meta_description }}
  <meta property="og:description" content='{{ . | safeHTML }}'/>
{{ end }}

<meta property="og:site_name" content="{{ .Site.Title }}"/>

<!-- Twitter meta tags (optional) -->
{{/* Uncomment if you plan to use Twitter meta */}}
{{/*
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{ .Params.title }}"/>
{{ with .Params.seo.meta_description }}
  <meta name="twitter:description" content='{{ . | safeHTML }}'/>
{{ end }}
<meta name="twitter:image" content="{{ $baseURL }}assets/img/logo.jpg"/>
<meta name="twitter:url" content="{{ .Permalink }}"/>
<meta name="twitter:site" content="@JamesMorgan654"/>
<meta name="twitter:creator" content="@JamesMorgan654"/>
*/}}

<link rel="canonical" href="{{ .Permalink | absURL }}">
<link rel="alternate" hreflang="{{ .Site.LanguageCode }}" href="{{ .Permalink | absURL }}" />

{{- partial "ldjson.html" . -}}