// Global resets
html,
body {
    height: 100%;
}

// Apply the font globally
body {
    overflow-x: hidden;
    // font-family: 'Hind Guntur', sans-serif !important;
    // line-height: 1.4 !important;
}

$metropolis-font-path: "../webfonts/metropolis" !default;

// Bring in custom font for global use
@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-Black.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('#{$metropolis-font-path}/Metropolis-BlackItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

